
body{
    background-color : blue;
    
}

canvas{
    border-radius : 25px;
    width : 300px;
    height:250px;
    border: 5px  solid  white;
    margin-top:180px;
    

}

.h3{
    color:white;

}

.div1{
    color:cyan;
    border-radius:20px;
}

.div_2{
    color:aqua;
    border: 5px, solid white;

}

.p1{
    color:bisque;
}

.p2{
    color:beige;
}

.copy_right_footer{
    color:blueviolet;
}


